<div itemscope itemtype="http://schema.org/Blog">
<% page.posts.each(function(item){ %>
  <%- partial('_partial/post', {item: item, index: true}) %>
<% }); %>
</div>

<nav id="pagenavi">
    <% if(page.prev){ %>
        <a href="<%- config.root %><%- page.prev_link %>" class="prev">
          <%= __('prev') %>
        </a>
    <% } %>
    <% if(page.next){ %>
        <a href="<%- config.root %><%- page.next_link %>" class="next">
          <%= __('next') %>
        </a>
    <% } %>
    <div class="center">
      <a href="<%- theme.menu.Archives %>">Blog Archives</a>
    </div>
</nav>
