<% if(index) { %>
	<div class="meta">
          <%- partial('post/date', {type: "index"}) %>
          <%- partial('post/tag', {type: "index"}) %>
          <% if(item.comment & config.disqus_shortname) { %>
          <span class="comments">
            <a href="<%- item.permalink %>#disqus_thread">Comments</a>
          </span>
          <% } %>
	</div>
        <h1 class="title" itemprop="name">
          <a href="<%- config.root %><%- item.path %>" itemprop="url">
            <%= item.title %></a>
        </h1>
        <div class="entry-content" itemprop="articleBody">
          <% if (item.excerpt){ %>
            <%- item.excerpt %>
            <a href="<%- config.root %><%- item.path %>" class="more-link">
              <%= theme.excerpt_link %>
            </2a>
          <% } else { %>
            <%- item.content %>
          <% } %>
        </div>
<% } else { %>
	<div class="meta">
          <%- partial('post/date', {type: "post"}) %>
	</div>
        <h1 class="title" itemprop="name"><%= item.title %></h1>
      	<div class="entry-content" itemprop="articleBody"><%- item.content %></div>
<% } %>
